<!-- <div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
</div>
 -->

<% if @message %>
  <h2 style=color:red><%= @message %>
<% end %>


<% if !logged_in? %>

  <h2>Log in</h2>

  <form action="/login" method="post" name="login_form">
  <table cellpadding=10px>
    <tr>
      <td>
        Email</br>
        <i>(to be used as username)</i>
      </td>
      <td>
        <input type="text" name="email" style="display:inline;width:300px">
      </td>
    </tr>

    <tr>
      <td>
        Password
      </td>
      <td>
        <input type="password" name="password" style="display:inline;width:300px">
      </td>
    </tr>
  </table>
  </br>
  <input type="submit" value="Log in" style="display:inline;margin-left:20px">
  </form>

  <h2>Create account</h2>

  <form action="/create" method="post" name="signup_form">
  <table cellpadding=10px>
    <tr>
      <td>
        Name</br>
      </td>
      <td>
        <input type="text" name="name" style="display:inline;width:300px">
      </td>
    </tr>

    <tr>
      <td>
        Email</br>
        <i>(to be used as username)</i>
      </td>
      <td>
        <input type="text" name="email" style="display:inline;width:300px">
      </td>
    </tr>

    <tr>
      <td>
        Password
      </td>
      <td>
        <input type="password" name="password" style="display:inline;width:300px">
      </td>
    </tr>
  </table>
  </br>
  <input type="submit" value="Sign up" style="display:inline;margin-left:20px">
  </form>


<% else %>
  <h2>Logged in as: <%= User.find(session[:id]).email %></h2>
  <form method="post" action="/secret">
    <input type="submit" value="Log out">
  </form>
<% end %>



   <% if @error %>
      <h2 style=color:red>
        <%= @error %>
      </h2>
    <% end %>

    <h2>Shorten URL</h2>

    Long URL:
    <form style="display:inline" action="/urls" method="post" name="the_viewpost_form">

      <input type="text" name="long_url" style="display:inline;width:300px" VALUE="http://">

      <input type="submit" value="Chomp it!" style="display:inline;margin-left:20px">

    </form>
    </br>
    </br>
    </br>
    <table width=80% border=1>
      <tr>
        <td>
          Short URL
        </td>
        <td>
          Long URL
        </td>
        <td>
          Click count
        </td>
        <td>
          User
        </td>
      </tr>

      <% if !all_url.nil? %>
        <% all_url.reverse.each do |url| %>
        <tr>
          <td>
            <a href="<%= url.short_url %>"><%= url.short_url %></a>
          </td>
          <td>
            <a href="<%= url.long_url %>"><%= url.long_url %></a>
          </td>
          <td>
            <%= url.click_count %>
          </td>
          <td>
            <%= User.find(url.user_id).email if !url.user_id.nil? %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
